.bg-boleta {
  background-color: #481768;
  background-image: url("../assets/bg-boleta.svg");
  background-size: cover;
  background-position: center;
}
.mira-top {
  position: absolute;
  z-index: 2;
}
.mira-top {
  left: 50%;
  transform: translateX(-50%);
  width: 100px;
  border-radius: 0 0 12px 12px;
  border-bottom: 4px solid #fff;
  border-left: 4px solid #fff;
  border-right: 4px solid #fff;
}

.feria-top {
  position: absolute;
  z-index: 1;
  width: 380px;
}

.captus-bottom {
  position: absolute;
  z-index: 1;
  width: 380px;
  bottom: 0;
  margin-left: -16px;
  border-radius: 24px;
}
